bcrypt==4.2.0
chardet==5.2.0
cryptography==43.0.0
cupshelpers==1.0
dbus-python==1.4.0
distro==1.9.0
distro-info==1.13
freetype-py==2.5.1
olefile==0.47
packaging==25.0
pexpect==4.9.0
pillow==11.1.0
psutils==3.3.8
ptyprocess==0.7.0
puremagic==1.28
pycairo==1.27.0
pycryptodomex==3.20.0
pycups==2.0.4
PyGObject==3.50.0
pypdf==5.4.0
pysmbc==1.0.25.1
python-apt==3.0.0
reportlab==4.3.1
rlPyCairo==0.3.0
unattended-upgrades==0.1
wheel==0.46.1
